*{
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    color: white;
}

/*PRODUCTS COLUMNS*/
.beverages{
padding-top: 60px;
padding-left: 230px;
padding-bottom: 700px;
height: 939px;
max-width: 100%;
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1em;
}

.beer{
height: 200px;
max-width: 80%;
background-image: url(../Images/Beer.jpg);
background-size: cover;
background-repeat: no-repeat;
color: white;
border-radius: 10px;
}

.choco-shake{
    height: 200px;
    max-width: 80%;
    background-image: url(../Images/Chocolate\ Shake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
}

.mango-shake{
    height: 200px;
    max-width: 80%;
    background-image: url(../Images/MangoShake.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
}

.softdrinks{
    height: 200px;
    max-width: 80%;
    background-image: url(../Images/Softdrinks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
}

.strawberry-shake{
    height: 200px;
    max-width: 80%;
    background-image: url(../Images/Strawberry\ Shake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
}

.beer, .choco-shake, .mango-shake, .softdrinks, .strawberry-shake{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

input[type="button"]{
border-radius: 10px;
height: 30px;
width: 50%;
border:none;
color: white;
background-color: #A9212A;
}
/**RESPINSIVE**/
@media(max-width:1600px){
    .beverages{
        display: block;
    }
}

/*FOR BUTTON*/
@media(max-width: 600px){
    input[type="button"]
    {
        border-radius: 10px;
        height: 40px;
        width: 80%;
        border:none;
color: white;
background-color: #A9212A;
    }
}