*{
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cart{
    height: 50px;
    width: 100%;
    background-color: rgb(211, 211, 70);
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
}

h1 {
    text-align: center;
}

.cart-container{
    border: 2px solid black;
    margin: auto;
    text-align: center;
    background-color: #F7F7F7;
    color: #EA2231;
    border-radius: 10px;
    height: 200px;
    max-width: 40%;
}

.payment{
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 20%;
    border-radius: 10px;
    margin: auto;
    color: #EA2231;
    border:2px solid black;
}
/*RESPINVIE*/
@media(max-width: 1515px){
   .pay{
       padding-left: 200px;
   }
   .cart-container{
    border: 2px solid black;
    margin: auto;
    text-align: center;
    background-color: #F7F7F7;
    color: #EA2231;
    border-radius: 10px;
    height: 200px;
    max-width: 90%; 
   }
   .payment{
    padding: 10px;
    margin-bottom: 10px;
    height: 90px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    color: #EA2231;
    border:2px solid black;
   }
}

@media(max-width:835px)
{
    .cart-container{
        border: 2px solid black;
        margin: auto;
        text-align: center;
        background-color: #F7F7F7;
        color: #EA2231;
        border-radius: 10px;
        height: 500px;
        max-width: 90%; 
       }

       .payment{
        padding: 10px;
        margin-bottom: 10px;
        height: 120px;
        width: 90%;
        border-radius: 10px;
        margin: auto;
        color: #EA2231;
        border:2px solid black;
       }
}