footer{
    height: 9rem;
    width: 100%;
    background-color: #D42E2E;
    color: white;
    padding-top: 30px;
    border-top: 2px solid black;
    list-style: none;
}

.footer-info{
    display: grid;
    grid-template-columns: 120px 150px 200px 100px;
    padding-left: 600px;
    grid-gap: 10px;
}
.footer-info li {
list-style: none;
margin: 1px 0;
}

