*
{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
footer {
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #D6D175;
   
}
footer p 
{
    display: none;
}
