body{
overflow: hidden;
}

.container{
position:relative;
    height: 43rem;
    width: 100%;
   padding-bottom: 25px;
   left: 50px;
}
.content{
display: grid;
padding-top: 100px;
padding-left: 300px;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
grid-auto-rows: minmax(160px, auto);
}

.burger, .pizza, .appetizers, .desserts, .beverages{
    background-color: black;
    color: white;
    padding: 1em;
}

.btn{
    height: 30px;
    width: 30%;
}
