*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.pic 
{
height: 10px;
width: 30%;
}

.logo
{
    padding-left: 40px;
}

.dadPic{
    border-radius: 20px;
    height:200px;
    width:70%;
}

.wrapper 
{
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #A9212A;
    color: white;
    font-size: 26px;
    padding: 30px 0;
    z-index: 1;
}

.wrapper .sidebar h2
{
color: #ffff;
text-align: center;
margin-bottom: 30px;
}

.wrapper .sidebar ul li 
{
    padding: 15px;
    border-bottom: 1px solid #CB3A43;
}

.wrapper .sidebar ul li a 
{
    color: white;
    display: block;
}

.wrapper .sidebar ul li a:hover
{
    color: black;
}

.wrapper .home{
    width: 100%;
    margin-left: 200px;
}

.wrapper .home .header{
    padding: 20px;
    background-color: #fff;
    color:black;
    border-bottom: 1px solid black;
}