*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*MAIN NAV*/
nav p{
    float: left;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 50px;
    padding-left: 11px;
}
nav{
    background-color: #D42E2E;
    height: 3rem;
    border-bottom: 2px solid black;
}

nav .navbar{
float: right;
padding-right: 11px;
}

nav .navbar li {
float: left;
list-style: none;
position: relative;
}

nav .navbar li a {
    display: block;
    font-size: 19px;
    padding: 15px 14px;
    text-decoration: none;
    color: #FFFFFF;
}
nav .navbar li a:hover{
    color: black;

}

/*FOR DROP DOWN*/
nav .navbar li .hover-menu {
display: none;
position: absolute;
background-color: #D42E2E;
margin-top: -2px;
padding: 5px;
z-index: 1;
}

nav .navbar li:hover .hover-menu {
    display: block;
    }

nav .navbar li .hover-menu li  {
   width: 130px;
    }
nav .navbar li .hover-menu li a {
padding: 5px 14px;
}

nav .navbar li .hover-menu li a:hover{
    background-color: black;
    color: white;
}

