$text-color: #ffffff;
$color: #000000;
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/*MAIN NAV*/
nav {
  background-color: #d42e2e;
  height: 3rem;
  border-bottom: 2px solid $color;

  p {
    float: left;
    color: $text-color;
    font-size: 19px;
    line-height: 50px;
    padding-left: 11px;
  }

  .navbar {
    float: right;
    padding-right: 11px;
  }

  .navbar li {
    float: left;
    list-style: none;
    position: relative;
  }
  .navbar li a {
    display: block;
    font-size: 19px;
    padding: 15px 14px;
    text-decoration: none;
    color: $text-color;
  }
  .navbar li a:hover {
    color: $color;
  }
}

/*FOR DROP DOWN*/
nav .navbar {
  li:hover .hover-menu {
    display: block;
  }
  li .hover-menu {
    display: none;
    position: absolute;
    background-color: #d42e2e;
    margin-top: -2px;
    padding: 5px;
    z-index: 1;
  }

  li .hover-menu li {
    width: 130px;
  }

  li .hover-menu li a {
    padding: 5px 14px;
  }
  li .hover-menu li a:hover {
    background-color: $color;
    color: $text-color;
  }
}
